.url {
  margin-left: 10px;
}
.url tr th,
.url tr td {
  border: 1px solid #000;
  padding: 10px;
}
.url {
  border-collapse: collapse;
}

.url tr th {
  background-color: #a886c7;
}
.url tr:nth-child(even) {
  background-color: beige;
}
.urlContainer {
  padding-left: 10px;
}
.urlInput {
  width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  margin-right: 10px;
}
.buttonSubmit {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #7ddd7d;
}
.heading {
  text-align: center;
  background: rebeccapurple;
  margin-top: 0;
  padding: 10px;
  color: white;
}
.url a {
  color: blue;
  text-decoration: underline;
}

.error {
  margin-top: 0;
  width: 550px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background-color: rgb(221, 117, 117);
  color: black;
}
